{% extends 'base.html'%}
{% load crispy_forms_tags%}
{% block head%}
{% endblock%}

{% block body%}

<div class="container">
    <h1>Edit your post</h1>
    <div class="row">
        <div class="col-lg-12">
            {% if blog.author == request.user %}
            <form method="POST" enctype="multipart/form-data">
                {{form|crispy}}
                {% csrf_token %}
                <input class=" btn btn-success mt-3" type="submit" value="Update">
            </form>
            {% else %}
            <p>You are not able to edit this blog</p>
            <p>This blog autor is Mr.{{blog.author}}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}